<div class="activity {{ action.verb }}">
    <a href="{{ activity_stream_get_absolute_url(action.actor) }}">
        {% include 'OpensoftCodeConversationBundle::useravatar.html.twig' with {'user': action.actor} %}
    </a>
    {{ action.verb }}
    {% if action.hasTarget %}
        {% set targetUrl = activity_stream_get_absolute_url(action.target) %}
        <a href="{{ targetUrl ? targetUrl : "#" }}">{{ action.target }}</a>
    {% endif %}
    {% if action.hasActionObject %}
        {% set actionObjectUrl = activity_stream_get_absolute_url(action.actionObject) %}
        in <a href="{{ actionObjectUrl ? actionObjectUrl : "#" }}">{{ action.actionObject }}</a>
    {% endif %}
    <time class="js-relative-date" datetime="{{ action.createdAt|date("Y-m-d\TG:i:sO") }}" title="{{ action.createdAt|date("Y-m-d G:i:s")}}">{{ time_diff(action.createdAt) }}</time>
</div>
