<table>
    <thead>
        <tr>
            <th style="background-color: #E0EDFF;" colspan="2">
                {{ commit.message|truncate(80) }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            <span class="author-name"><a href="/beberlei">{{ commit.author }}</a></span>
            authored <time class="js-relative-date" datetime="{{ commit.timestamp|date("Y-m-d\TG:i:sO") }}" title="{{ commit.timestamp|date("Y-m-d G:i:s") }}">{{ time_diff(commit.timestamp) }}</time>
            </td>
            <td style="text-align: right;" align="right">
                commit <a href="{{ path('opensoft_codeconversation_project_viewcommit', {'slug': project.slug, 'sha1': commit.sha1 }) }}" class="sha-block"><span class="sha">{{ commit.sha1 }}</span></a>
                {% if commit.parents|length > 0 %}
                    <div class="clearfix">
                        {{ commit.parents|length }} parent{% if commit.parents|length > 1%}s{% endif %}
                        {% for sha1 in commit.parents %}
                            <a href="{{ path('opensoft_codeconversation_project_viewcommit', {'slug': project.slug, 'sha1': sha1 }) }}" class="sha-block">
                                <span class="sha">{{ sha1 }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>