<table style="border-left: none; border-right: none; border-radius: 0px;">
    <tbody>
        {% for commit in commits %}
            {##}
            <tr>
                <td style="border-left: none;">
                    <a href="{{ path('opensoft_codeconversation_project_viewcommit', {'projectSlug': project.slug, 'sha1': commit.id }) }}">
                        {{ commit.id|truncate(6) }}
                    </a>
                </td>
                <td style="border-left: none;">

                    {% if git_author_exists(commit.authorName) %}
                        {% set user = git_author(commit.authorName) %}
                        {% include 'OpensoftCodeConversationBundle::useravatar.html.twig' with {'user': user} %}
                    {% else %}
                        {{ commit.authorName }}
                    {% endif %}
                </td>
                <td style="border-left: none;">
                    <a href="{{ path('opensoft_codeconversation_project_viewcommit', {'projectSlug': project.slug, 'sha1': commit.id }) }}">
                        {{ commit.message|truncate(80) }}
                    </a>
                </td>
                <td style="border-left: none; text-align: right;">{{ time_diff(commit.authoredDate) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>