<table>
    <tbody>
        {% set i = 0 %}
        {% for diff in fullDiff.fileDiffs %}
        <tr>
            <td>
                <span class="label">{{ diff.status }}</span>
            </td>
            <td>
                <span>
                    {% if diff.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Model\\FileDiff::STATUS_MODIFICATION") %}
                        <a href="#diff-{{ i }}">{{ diff.dstPath }}</a>
                    {% elseif diff.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Model\\FileDiff::STATUS_ADDITION") %}
                        <a href="#diff-{{ i }}">{{ diff.dstPath }}</a>
                    {% elseif diff.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Model\\FileDiff::STATUS_DELETION") %}
                        <a href="#diff-{{ i }}">{{ diff.srcPath }}</a>
                    {% endif %}
                </span>
                <span class="pull-right">
                    {% if diff.insertions != 0 %}+{{ diff.insertions }}{% endif %}{% if diff.insertions != 0 and diff.deletions != 0 %},{% endif %}
                    {% if diff.deletions != 0 %}-{{ diff.deletions }}{% endif %}
                </span>
            </td>
        </tr>
        {% set i = i + 1 %}
        {% endfor  %}
    </tbody>
</table>