<table>
    <thead>
        <tr>
            <th>
                <h3><a href="{{ path('opensoft_codeconversation_project_show', {'projectSlug': project.slug}) }}">{{ project.name }}</a></h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form style="display: inline;" method="POST" action="{{ path('opensoft_codeconversation_project_redirect', {'projectSlug': project.slug}) }}">
                    <span>Branch</span>
                    <select name="remotebranch" type="select" onchange="this.form.submit();">
                        {% for remote in project.remotes %}
                            {% for branch in remote.branches %}
                                {% if remote.slug == app.request.get('remoteSlug') and branch.slug == app.request.get('branchSlug') %}
                                    <option value="{{ remote.name }}/{{ branch.name }}" selected="selected">{{ remote.name }}/{{ branch.name }}</option>
                                {% else %}
                                    <option value="{{ remote.name }}/{{ branch.name }}">{{ remote.name }}/{{ branch.name }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </form>
                <a class="btn" href="{{ path('opensoft_codeconversation_project_commits', {'projectSlug': project.slug}) }}">Commits</a></li>
                <a class="btn" href="{{ path('opensoft_codeconversation_pullrequest_list', {'projectSlug': project.slug}) }}">Active Pull Requests (0)</a>
            </td>
        </tr>
    </tbody>
</table>