<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Code Conversations{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% block stylesheets %}
        {# Add your own bundles css here, to get them generated into final files #}
        {% stylesheets filter='less,cssembed,?yui_css'
            '../vendor/twitter-bootstrap/lib/bootstrap.less'
            '@OpensoftCodeConversationBundle/Resources/public/less/*'
            '@OpensoftCodeConversationBundle/Resources/public/google-code-prettify/prettify.css'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock stylesheets %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
  </head>

  <body onload="prettyPrint()">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ path('opensoft_codeconversation_default_homepage') }}">Opensoft Code Conversations</a>
          <ul class="nav">
            <li class="dropdown" data-dropdown="dropdown">
                <a class="dropdown-toggle" href="#">Projects</a>
                <ul class="dropdown-menu">
                    {% render "OpensoftCodeConversationBundle:Project:dropdownMenu" %}
                </ul>
            </li>
            <li><a href="{{ path('opensoft_codeconversation_default_about') }}">About</a></li>
            <li><a href="https://jira.farheap.com/browse/CC">Contact</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('sonata_admin_dashboard') }}">Administration</a></li>
            {% endif %}
          </ul>

          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <div class="pull-right">
                <span class="brand"><a href=" {{ path('opensoft_codeconversation_user_show', {'usernameCanonical': app.user.usernameCanonical}) }}">{{ app.user.username }}</a></span>
                <a style="margin-top: 5px;" href="{{ path('fos_user_security_logout') }}" class="btn primary">Sign out</a>
              </div>
          {% else %}
            <form action="{{ path("fos_user_security_check") }}" method="post" class="pull-right">
              <input class="input-small" id="username" name="_username" type="text" placeholder="Username">
              <input class="input-small" id="password" name="_password" type="password" placeholder="Password">
              <button class="btn" type="submit">Sign in</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="row">
            <div class="span16">
                {% block session_messages %}
                    {% for key, message in app.session.getFlashes() %}
                        <div class="alert-message {{ key }} fade in" data-alert="alert">
                            <a class="close" href="#">×</a>
                            <p>{{ message|trans() }}</p>
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block body %}{% endblock %}
            </div>
        </div>
      </div>

      <footer>
        <p>&copy; Opensoft 2011 - v0.0.2-DEV</p>
      </footer>

    </div> <!-- /container -->


    {% block javascripts %}
        {% javascripts filter="?yui_js"
            'http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'
            '../vendor/twitter-bootstrap/js/bootstrap-modal.js'
            '../vendor/twitter-bootstrap/js/bootstrap-dropdown.js'
            '../vendor/twitter-bootstrap/js/bootstrap-scrollspy.js'
            '../vendor/twitter-bootstrap/js/bootstrap-tabs.js'
            '../vendor/twitter-bootstrap/js/bootstrap-twipsy.js'
            '../vendor/twitter-bootstrap/js/bootstrap-popover.js'
            '../vendor/twitter-bootstrap/js/bootstrap-alerts.js'
            '@OpensoftCodeConversationBundle/Resources/public/google-code-prettify/prettify.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

  </body>
</html>