<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Code Conversations{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }

      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span16 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }

    </style>
    <link href="{{ asset('bundles/opensoftcodeconversation/js/google-code-prettify/prettify.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/opensoftcodeconversation/css/style.css') }}" type="text/css" rel="stylesheet" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
  </head>

  <body onload="prettyPrint()">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ path('opensoft_codeconversation_default_homepage') }}">Opensoft Code Conversations</a>
          <ul class="nav">
            <li class="dropdown" data-dropdown="dropdown">
                <a class="dropdown-toggle" href="#">Projects</a>
                <ul class="dropdown-menu">
                    {% render "OpensoftCodeConversationBundle:Project:dropdownMenu" %}
                </ul>
            </li>
            <li><a href="{{ path('opensoft_codeconversation_default_about') }}">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <div class="pull-right">
                <span class="brand"><a href=" {{ path('opensoft_codeconversation_user_show', {'usernameCanonical': app.user.username}) }}">{{ app.user.username }}</a></span>
                <a style="margin-top: 5px;" href="{{ path('fos_user_security_logout') }}" class="btn primary">Sign out</a>
              </div>
          {% else %}
            <form action="{{ path("fos_user_security_check") }}" method="post" class="pull-right">
              <input class="input-small" id="username" name="_username" type="text" placeholder="Username">
              <input class="input-small" id="password" name="_password" type="password" placeholder="Password">
              <button class="btn" type="submit">Sign in</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="row">
            <div class="span16">
                {% block session_messages %}
                    {% for key, message in app.session.getFlashes() %}
                        <div class="alert-message {{ key }} fade in" data-alert="alert">
                            <a class="close" href="#">×</a>
                            <p>{{ message|trans() }}</p>
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block body %}{% endblock %}
            </div>
        </div>
      </div>

      <footer>
        <p>&copy; Opensoft 2011 - v0.0.1-DEV</p>
      </footer>

    </div> <!-- /container -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.4.min.js"><\/script>')</script>

    <script src="{{ asset('bundles/opensoftcodeconversation/js/bootstrap-dropdown.1.3.0.js')}}"></script>
    <script src="{{ asset('bundles/opensoftcodeconversation/js/google-code-prettify/prettify.js') }}"></script>
    <script src="{{ asset('bundles/opensoftcodeconversation/js/bootstrap-alerts.1.3.0.js')}}"></script>
    {% block javascripts %}{% endblock %}

  </body>
</html>