<div class="avatar-bubble js-comment-container">
    <span class="avatar">
        <img src="{{ gravatar(pullRequest.author.gravatar, 48) }}" />
        <span class="overlay size-48"></span>
    </span>

    <div class="bubble">
        <div class="comment starting-comment " id="issue-1837176">
            <div class="body">
                <p class="author"><a href="/lsmith77">{{ pullRequest.author.username }}</a> opened this pull request <time class="js-relative-date" datetime="{{ pullRequest.createdAt|date() }}" title="{{ pullRequest.createdAt|date() }}">{{ pullRequest.createdAt|date("F j, Y") }}</time></p>
                <h2 class="content-title">{{ pullRequest.title }}</h2>
                <div class="formatted-content">
                    <div class="content-body wikistyle markdown-format">{{ pullRequest.description|markdown }}</div>
                </div>
            </div>
        </div>
    </div><!-- /.bubble -->
</div>