<table>
    <tbody>
        {% for pullRequest in pullRequests %}
            <tr>
                <td>
                    <div>
                        {% if pullRequest.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Entity\\PullRequest::STATUS_OPEN") %}
                            <span class="label success">Open</span>
                        {% elseif pullRequest.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Entity\\PullRequest::STATUS_CLOSED") %}
                            <span class="label important">Closed</span>
                        {% endif %}

                        <a href="{{ path('opensoft_codeconversation_pullrequest_view', {'pullId': pullRequest.id, 'projectName': project.name}) }}">{{ pullRequest.title|truncate(80) }}</a>

                        <span class="pull-right">opened {{ time_diff(pullRequest.createdAt) }}</span>

                        <span class="help-block">{{ pullRequest.description|truncate(120) }}</span>
                    </div>
                    <span class="pull-right">{{ pullRequest.comments|length }} comments</span>
                    <span class="pull-left">
                        {% include 'OpensoftCodeConversationBundle::useravatar.html.twig' with {'user': pullRequest.author} %}
                        wants someone to merge commits from <span class="label">{{ pullRequest.sourceBranch.fullName }}</span> into <span class="label">{{ pullRequest.destinationBranch.fullName }}</span>
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>