{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}

    {% render 'OpensoftCodeConversationBundle:Project:header' with {'project': project} %}

    <!-- /base sha1: "{{ pullRequest.mergeBase }}" -->
    <!-- /head sha1: "{{ pullRequest.headBranch.tip }}"-->

    <div>
        <span style="font-size: larger;">
            {% if pullRequest.status == 2 %}
                <span style="font-size: large;" class="label notice">Merged</span>
            {% elseif pullRequest.status == 1 %}
                <span style="font-size: large;" class="label success">Open</span>
            {% elseif pullRequest.status == 0 %}
                <span style="font-size: large;" class="label important">Closed</span>
            {% endif %}
        </span>
        <span>
            {% include 'OpensoftCodeConversationBundle::useravatar.html.twig' with {'user': pullRequest.author} %}
             wants someone to merge code from <span class="label">{{ pullRequest.headBranch.name }}</span>
             to <span class="label">{{ pullRequest.baseBranch.name }}</span> ASAP!
        </span>
        <span class="pull-right">
            <a href="{{ path('opensoft_codeconversation_pullrequest_view', {'projectName': project.name, 'pullId': pullRequest.id} )}}">#{{ pullRequest.id }}</a>
        </span>
    </div>
    <hr />

    <ul class="tabs" data-tabs="tabs" >
        <li class="active"><a href="#code-conversation">Code Conversation</a></li>
        <li><a href="#commits">Commits ({{ commits|length|default(0) }})</a></li>
        <li><a href="#full-diff">Full Diff ({{ fullDiff.fileDiffs|length|default(0) }} files)</a></li>
    </ul>

    <div class="pill-content">
        <div class="active row" id="code-conversation">
            <div class="span14">

                    {% include 'OpensoftCodeConversationBundle:PullRequest:description.html.twig' with {'pullRequest': pullRequest } %}


                    {% if eventTimeline %}
                        {% for item in eventTimeline %}

                            {% if not item.class is defined %}
                                {% include 'OpensoftCodeConversationBundle:PullRequest:action.html.twig' with {'action': item} %}
                            {% elseif item.class == 'Opensoft\\Bundle\\CodeConversationBundle\\Model\\Commit' %}
                                {% include 'OpensoftCodeConversationBundle::commit.html.twig' with {'commit': item } %}
                            {% elseif item.class == 'Opensoft\\Bundle\\CodeConversationBundle\\Entity\\PullRequestComment' %}
                                {% include 'OpensoftCodeConversationBundle::comment.html.twig' with {'comment': item } %}
                            {% else %}
                                {% include 'OpensoftCodeConversationBundle:PullRequest:log-status-change.html.twig' with {'logEntry': item } %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <hr />
                    <h4>Comment on this pull request</h4>

                    <form action="{{ path('opensoft_codeconversation_comment_postprcomment', {'projectName': project.name, 'pullId': pullRequest.id }) }}" {{ form_enctype(form) }} method="POST">
                        <fieldset>
                            {{ form_errors(form) }}

                            <div class="clearfix">
                                {{ form_label(form.content) }}
                                <div class="input">
                                    {{ form_widget(form.content, { 'attr': {'class': 'span11', 'rows': 5} }) }}
                                    <span class="help-block">Comments are parsed with everyone's favorite <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> language.</span>
                                </div>
                            </div>

                            <div class="actions">
                                <input name="preview" class="btn" type="submit" value="Preview" />
                                <input name="add-comment" class="btn primary" type="submit" value="Add comment" />

                                {% if pullRequest.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Entity\\PullRequest::STATUS_OPEN") %}
                                    <input name="close" class="btn danger pull-right" type="submit" value="Close Pull Request" />
                                {% elseif pullRequest.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Entity\\PullRequest::STATUS_CLOSED") %}
                                    <input name="reopen" class="btn success pull-right" type="submit" value="Reopen Pull Request" />
                                {% endif %}
                            </div>

                            {{ form_rest(form) }}
                        </fieldset>
                    </form>
            </div>

            <div class="span2" style="text-align: center;">
                <div>
                    {% if pullRequest.status == 2 %}
                        <span style="font-size: large;" class="label notice">Merged</span>
                    {% elseif pullRequest.status == 1 %}
                        <span style="font-size: large;" class="label success">Open</span>
                    {% elseif pullRequest.status == 0 %}
                        <span style="font-size: large;" class="label important">Closed</span>
                    {% endif %}
                </div>
                <hr />
                <div>
                    <div style="color: green;">+ {{ fullDiff.insertions }} insertions</div>
                    <div style="color: red;">- {{ fullDiff.deletions}} deletions</div>
                </div>

                <hr />
                <a class="small" href="{{ path('opensoft_codeconversation_pullrequest_list', {'projectName': project.name}) }}">All pull requests</a>
            </div>

        </div>

        <div id="commits">
            {% include 'OpensoftCodeConversationBundle::commit-table.html.twig' with {'commits': commits} %}
        </div>


        <div id="full-diff">

            {% if fullDiff %}
                {% include 'OpensoftCodeConversationBundle::diffs-table.html.twig' with {'fullDiff': fullDiff} %}
                {% include 'OpensoftCodeConversationBundle::diffs-full.html.twig' with {'fullDiff': fullDiff} %}
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/opensoftcodeconversation/js/bootstrap-tabs.1.3.0.js')}}"></script>
{% endblock %}