<table>
    <thead>
        <tr>
            <th>
                <h3>
                    <a href="{{ path('opensoft_codeconversation_project_show', {'projectName': project.name}) }}">{{ project.name }}</a>
                    / {{ branch.name }}
                </h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form style="display: inline;" method="POST" action="{{ path('opensoft_codeconversation_project_redirect', {'projectName': project.name}) }}">
                    <span>Branch</span>
                    <select name="branch" type="select" onchange="this.form.submit();">
                        {% for projectBranch in enabledBranches %}
                            {% if projectBranch.name == branch.name %}
                                <option value="{{ projectBranch.name }}" selected="selected">{{ projectBranch.name }}</option>
                            {% else %}
                                <option value="{{ projectBranch.name }}">{{ projectBranch.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <a class="btn" href="{{ path('opensoft_codeconversation_project_commits_1', {'projectName': project.name, 'branchName': branch.name}) }}">Commits</a></li>
                <a class="btn" href="{{ path('opensoft_codeconversation_project_activity', {'projectName': project.name}) }}">Activity</a></li>
                <a class="btn" href="{{ path('opensoft_codeconversation_pullrequest_list', {'projectName': project.name, 'open': 1}) }}">Active Pull Requests ({{ openPullRequests|length|default(0) }})</a>
            </td>
        </tr>
    </tbody>
</table>