{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block content %}

    <ul class="tabs" data-tabs="tabs" >
        <li class="active"><a href="#recent-commits">Recent Commits</a></li>
        <li><a href="#pull-requests">Active Pull Requests ({{ openPullRequests|length|default(0) }})</a></li>
        <li><a href="#branches">Branches ({{ project.branches|length|default(0) }})</a></li>
    </ul>

    <div class="pill-content">
        <div class="active" id="recent-commits">
            <h2>Recent commits on <span class="label">{{ branch.name }}</span></h2>

            {% include 'OpensoftCodeConversationBundle::commit-table.html.twig' with {'commits': recentCommits} %}
        </div>

        <div id="pull-requests">
            <span class="pull-request-title title" style="font-size: larger; font-weight: bold;">Pull Requests</span>
            <a href="{{ path('opensoft_codeconversation_pullrequest_create', {'slug': project.slug }) }}" class="btn primary pull-right">Open Pull Request</a>
            <br />
            {% if openPullRequests|length > 0 %}
                {% include 'OpensoftCodeConversationBundle:PullRequest:table-list.html.twig' with {'pullRequests': openPullRequests} %}
                <p>
                    Want to see <a href="{{ path('opensoft_codeconversation_pullrequest_list', {'slug': project.slug}) }}">all pull requests</a> for {{ project.name }}?
                </p>
            {% else %}
                <p>
                    There are no open pull requests for {{ project.name }}.
                </p>
            {% endif %}
        </div>

        <div id="branches">
            <h2>{{ project.name }} branches</h2>

            <table class="zebra-striped">
                <thead>
                    <tr>
                        <th>Branch name</th>
                        <th>Enabled</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for branch in project.branches %}
                        <tr>
                            <td>{{ branch.name }}</td>
                            <td>{{ branch.enabled ? 'Yes' : 'No' }}</td>
                            <td>
                                {% if branch.enabled %}
                                <a class="btn" href="{{ path('opensoft_codeconversation_project_show_1', {'slug': project.slug, 'branchId': branch.id}) }}">Switch to branch</a>
                                <a href="{{ path('opensoft_codeconversation_pullrequest_create', {'slug': project.slug }) }}" class="btn primary">Open Pull Request</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/opensoftcodeconversation/js/bootstrap-tabs.1.3.0.js')}}"></script>
{% endblock %}
