{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}

    {% render 'OpensoftCodeConversationBundle:Project:header' with {'project': project} %}

    {% include 'OpensoftCodeConversationBundle::commit.html.twig' with {'commit': recentCommit} %}

    <h3>
        <a href="{{ path('opensoft_codeconversation_project_show_1', {'projectName': project.name, 'remoteName': remote.name, 'branchName': branch.name}) }}">{{ project.name }}</a>
        {% if filepath is defined %}
            {#{{ filepath }}#}
            {% set totalPath = '' %}
            {% set i = 0 %}
            {% set pathLength = filepath|length %}
            {% for path in filepath %}
                {% if i == 0 %}
                    {% set totalPath = path %}
                {% else %}
                    {% set totalPath = totalPath ~ '/' ~ path %}
                {% endif %}


                {% set i = i + 1 %}
                /
                {% if i == pathLength %}
                    {{ path }}
                {% else %}
                    <a href="{{ path('opensoft_codeconversation_project_tree', {'projectName': project.name, 'remoteName': remote.name, 'branchName': branch.name, 'filepath': totalPath}) }}">
                        {{ path }}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </h3>
    
    {% if tree is defined %}

        {% if filepath is defined %}
            {% include 'OpensoftCodeConversationBundle:Project:tree.html.twig' with {'tree': tree, 'project': project, 'remote': remote, 'branch': branch, 'filepath': filepath} %}
        {% else %}
            {% include 'OpensoftCodeConversationBundle:Project:tree.html.twig' with {'tree': tree, 'project': project, 'remote': remote, 'branch': branch} %}
        {% endif %}
        
    {% elseif file is defined %}
        {% include 'OpensoftCodeConversationBundle:Project:file.html.twig' with {'file': file, 'project': project, 'remote': remote, 'branch': branch} %}
    {% endif %}


    {% if readme is defined %}
    <h4>README.md</h4>
    <table>
        <tr><td>{{ readme|markdown|nl2br }}</td></tr>
    </table>
    {% endif %}


{% endblock %}
