<table>
    <thead>
        <tr>
            <th style="width: 18px;">Type</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        {% if filepath is defined %}
        <tr>
            <td></td>
            <td>
                {% set totalPath = '' %}
                {% set i = 0 %}
                {% set pathLength = filepath|length %}
                {% for path in filepath %}
                    {% if i < pathLength - 1 %}
                        {% if i == 0 %}
                            {% set totalPath = path %}
                        {% else %}
                            {% set totalPath = totalPath ~ '/' ~ path %}
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endif %}
                {% endfor %}

                <a href="{{ path('opensoft_codeconversation_project_tree', {'projectName': project.name, 'remoteName': remote.name, 'branchName': branch.name, 'filepath': totalPath}) }}">
                    ...
                </a>
            </td>
        </tr>
        {% endif %}

        {% for item in tree %}
            {% if item.type == 'tree' %}
            <tr>
                <td>
                    {{ item.type }}
                </td>
                <td>
                    {% if filepath is defined %}
                        {% set builtFilepath = filepath|join('/')~'/'~item.file%}
                    {% else %}
                        {% set builtFilepath = item.file%}
                    {% endif%}

                    <a href="{{ path('opensoft_codeconversation_project_tree', {'projectName': project.name, 'remoteName': remote.name, 'branchName': branch.name, 'filepath': builtFilepath}) }}">
                        {{ item.file }}/
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}


        {% for item in tree %}
            {% if item.type == 'blob' %}
            <tr>
                <td>
                    {{ item.type }}
                </td>
                <td>
                    {% if filepath is defined %}
                        {% set builtFilepath = filepath|join('/')~'/'~item.file%}
                    {% else %}
                        {% set builtFilepath = item.file%}
                    {% endif%}

                    <a href="{{ path('opensoft_codeconversation_project_blob', {'projectName': project.name, 'remoteName': remote.name, 'branchName': branch.name, 'filepath': builtFilepath}) }}">
                        {{ item.file }}
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>