{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}

    {% render 'OpensoftCodeConversationBundle:Project:header' with {'project': project, 'remote': remote, 'branch': branch} %}

    {% include 'OpensoftCodeConversationBundle::commit.html.twig' with {'commit': commit, 'project': project} %}

    {% if commit.diff %}

        <p>Showing {{ commit.diff.fileDiffs|length|default(0) }} files changed</p>
    
        {% include 'OpensoftCodeConversationBundle::diffs-table.html.twig' with {'fullDiff': commit.diff} %}

        <div>
            {% include 'OpensoftCodeConversationBundle::diffs-full.html.twig' with {'fullDiff': commit.diff} %}
        </div>
    {% endif %}


    {% if comments|length > 0 %}
        <h3>Comments?</h3>
        {% for comment in comments %}
            {% include 'OpensoftCodeConversationBundle::comment.html.twig' with {'comment': comment} %}
        {% endfor %}
    {% endif %}

    <h4>Comment on this commit</h4>

    <form action="{{ path('opensoft_codeconversation_comment_postcommitcomment', {'projectSlug': project.slug, 'sha1': commit.id }) }}" {{ form_enctype(form) }} method="POST">
        <fieldset>
            {{ form_errors(form) }}

            <div class="clearfix">
                {{ form_label(form.content) }}
                <div class="input">
                    {{ form_widget(form.content, { 'attr': {'class': 'span13', 'rows': 5} }) }}
                    <span class="help-block">Comments are parsed with everyone's favorite <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> language.</span>
                </div>
            </div>

            <div class="actions">
                <input name="preview" class="btn" type="submit" value="Preview" />
                <input name="add-comment" class="btn primary" type="submit" value="Add comment" />
            </div>

            {{ form_rest(form) }}
        </fieldset>
    </form>
{% endblock %}