{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block page_title %}{{ pullRequest.initiatedBy.username }} opened a pull request on {{ project.name }}{% endblock %}

{% block content %}
    <span style="font-size: larger;">
        {% if pullRequest.status == 1 %}
            <span style="font-size: large;" class="label success">Open</span>
        {% elseif pullRequest.status == 0 %}
            <span style="font-size: large;" class="label important">Closed</span>
        {% endif %}
    </span>
    <span>
        {% include 'OpensoftCodeConversationBundle::useravatar.html.twig' with {'user': pullRequest.initiatedBy} %}
         wants someone to merge code from <span class="label">{{ pullRequest.sourceBranch.name }}</span>
         to <span class="label">{{ pullRequest.destinationBranch.name}}</span> ASAP!
    </span>
    <hr />

    <ul class="tabs" data-tabs="tabs" >
        <li class="active"><a href="#code-conversation">Code Conversation</a></li>
        <li><a href="#commits">Commits ({{ commits|length|default(0) }})</a></li>
        <li><a href="#full-diff">Full Diff ({{ diffs|length|default(0) }} files)</a></li>
    </ul>

    <div class="pill-content">
        <div class="active" id="code-conversation">

            <table>
                <thead>
                    <tr style="background-color: #FFF0E0;">
                        <th>
                            <span>{{ pullRequest.title }}</span>
                            <span class="pull-right">opened on {{ pullRequest.createdAt|date("F j, Y") }} at {{ pullRequest.createdAt|date("G:i:s") }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ pullRequest.description|markdown }}</td>
                    </tr>
                </tbody>
            </table>

            {% if pullRequest.comments|length > 0 %}
                <h3>Comments?</h3>
                {% for comment in pullRequest.comments %}
                    {% include 'OpensoftCodeConversationBundle::comment.html.twig' with {'comment': comment} %}
                {% endfor %}
            {% endif %}

            <hr />
            <h4>Comment on this pull request</h4>

            <form action="{{ path('opensoft_codeconversation_comment_postprcomment', {'slug': project.slug, 'pullId': pullRequest.id }) }}" {{ form_enctype(form) }} method="POST">
                <fieldset>
                    {{ form_errors(form) }}

                    <div class="clearfix">
                        {{ form_label(form.content) }}
                        <div class="input">
                            {{ form_widget(form.content, { 'attr': {'class': 'span13', 'rows': 5} }) }}
                            <span class="help-block">Comments are parsed with everyone's favorite <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> language.</span>
                        </div>
                    </div>

                    <div class="actions">
                        <input name="preview" class="btn" type="submit" value="Preview" />
                        <input name="add-comment" class="btn primary" type="submit" value="Add comment" />

                        {% if pullRequest.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Entity\\PullRequest::STATUS_OPEN") %}
                            <input name="close" class="btn danger pull-right" type="submit" value="Close Pull Request" />
                        {% elseif pullRequest.status == constant("Opensoft\\Bundle\\CodeConversationBundle\\Entity\\PullRequest::STATUS_CLOSED") %}
                            <input name="reopen" class="btn danger pull-right" type="submit" value="Reopen Pull Request" />
                        {% endif %}
                    </div>

                    {{ form_rest(form) }}
                </fieldset>
            </form>


        </div>

        <div id="commits">
            {% include 'OpensoftCodeConversationBundle::commit-table.html.twig' with {'commits': commits} %}
        </div>


        <div id="full-diff">

            {% if diffs %}
                {% include 'OpensoftCodeConversationBundle::diffs-table.html.twig' with {'diffs': diffs} %}
                {% include 'OpensoftCodeConversationBundle::diffs-full.html.twig' with {'diffs': diffs} %}
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/opensoftcodeconversation/js/bootstrap-tabs.1.3.0.js')}}"></script>
{% endblock %}