<div class="commit commit-tease js-details-container well">
  <p class="commit-title ">
      <a href="{{ path('opensoft_gversation_default_showcommit', {'projectId': project.id, 'commitHash': commit.hash }) }}">{{ commit.message }}</a>
  </p>
  
  <div class="commit-meta">
    <a href="{{ path('opensoft_gversation_default_showcommit', {'projectId': project.id, 'commitHash': commit.hash }) }}" class="sha-block">commit <span class="sha">{{ commit.short_hash}}</span></a>

    <div class="authorship">
      <span class="author-name"><a href="/beberlei">{{ commit.author }}</a></span>
      authored <time class="js-relative-date" datetime="2011-02-12T11:36:13-08:00" title="2011-02-12 11:36:13">{{ commit.timestamp|date("M/d/y G:i:s")}}</time>
    </div>
  </div>
</div>