{% extends 'OpensoftGversationBundle::layout.html.twig' %}

{% block page_title %}{{ pullRequest.initiatedBy.username }} opened a pull request on {{ project.name }}{% endblock %}

{% block content %}
    <p style="font-size: larger;">
        {% if pullRequest.status == 1 %}
            <span style="font-size: large;" class="label success">Open</span>
        {% elseif pullRequest.status == 0 %}
            <span style="font-size: large;" class="label important">Closed</span>
        {% endif %}
        {{ pullRequest.initiatedBy.username }} wants someone to merge code from {{ pullRequest.sourceBranch.name }} to {{ pullRequest.destinationBranch.name}} ASAP!
    </p>
    <hr />

    <h3>{{ pullRequest.title }}</h3>

    <textarea class="span16" disabled="true">{{ pullRequest.description }}</textarea>

    {% if pullRequest.comments %}

    {% endif %}

    <hr />
    <h4>Comment on this pull request</h4>
    <form action="" method="POST">
        <fieldset>
            <div class="clearfix">
                <label for="comment">Comment</label>
                <div class="input">
                    <textarea class="span12" rows="3"></textarea>
                </div>
            </div>

            <div class="actions">
                <input class="btn primary" type="submit" value="Add comment" />
            </div>
        </fieldset>
      </form>


    <hr />
    <h4>Close this pull request</h4>
    <form action="" method="POST">
        <fieldset>
            <div class="clearfix">
                <label for="comment">Comment</label>
                <div class="input">
                    <textarea class="span12" rows="3"></textarea>
                </div>
            </div>

            <div class="actions">
                <input class="btn primary" type="submit" value="Close" />
            </div>
        </fieldset>
      </form>

{% endblock %}