{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block page_title %}Known Projects{% endblock %}

{% block content %}
    <div>
        {% for project in projects %}
            <div class="project well">
                <h3>{{ project.name }}</h3>

                <ul>
                    <li>Branches - {{ project.branches|length }}</li>
                    <li>Pull Requests - {{ project.pullRequests|length }}</li>
                </ul>

                <div class="actions">
                    <a href="{{ path('opensoft_codeconversation_project_show', {'projectSlug': project.slug }) }}" class="btn">Show Branches</a>
                    <a href="{{ path('opensoft_codeconversation_pullrequest_create', {'projectSlug': project.slug }) }}" class="btn">Create Pull Request</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}