{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block page_title %}Show commit {{ commit.short_hash }}{% endblock %}

{% block content %}

    <h3>{{ commit.message }}</h3>
    
    <p>{{ commit.hash }}</p>

    <p>{{ commit.author }}</p>

    <p>{{ commit.timestamp }}</p>

    {% if commit.diffs %}
        <h3>Diff</h3>

        {% for diff in commit.diffs %}


            <table width="100%">
                <tbody>

                    {% for line in diff %}
                        <tr>
                            <td style="padding: 0px; border: none;" width="100%">
                                {% if "%.1s"|format(line) == '+' %}
                                    <pre style="padding: 0px; margin: 0px; border: none; background-color: #DFD;">{{ line }}</pre>
                                {% elseif "%.1s"|format(line) == '-' %}
                                    <pre style="padding: 0px; margin: 0px; border: none; background-color: #FDD;">{{ line }}</pre>
                                {% else %}
                                    <pre style="padding: 0px; margin: 0px; border: none; background-color: #f5f5f5;">{{ line }}</pre>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endfor %}
    {% endif %}
{% endblock %}