{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block page_title %}Show commit {{ commit.short_hash }}{% endblock %}

{% block content %}

    <h3>{{ commit.message }}</h3>
    
    <p>{{ commit.hash }}</p>

    <p>{{ commit.author }}</p>

    <p>{{ commit.timestamp }}</p>

    {% if commit.diff %}
        <h3>Diff</h3>

        <pre class="prettyprint">{{ commit.diff }}</pre>
    {% endif %}
{% endblock %}